<div class="modal-backdrop"></div>
<div class="modal-content"
    [ngClass]="{'modal-sm': size === 'sm', 'modal-md': size === 'md', 'modal-lg': size === 'lg'}">
    <div class="modal-header mb-3">
        <h4 class="modal-title">{{ title }}</h4>
        <button type="button" class="btn-close" (click)="close()">&#x2715;</button>
    </div>
    <div class="modal-body">
        <ng-container [ngTemplateOutlet]="template"></ng-container>
    </div>
    <div class="modal-footer">
        <button *ngIf="displaySaveBtn" class="bg-blue" type="submit" (click)="save()">Sauvegarder</button>
        <button class="bg-red" type="button" (click)="close()">Fermer</button>
    </div>
</div>
