<div class="container">

  <button (click)="displayModal = true" style="margin-right: 5px; background-color: #6fa6f4;">Formulaire info école</button>
  <button (click)="displayTableContentModal = true">Formulaire du tableau</button>

  <div class="pg-content" id="pg-content">
    <div class="flex jcsb">
      <div>
        <p style="margin: 5px 0" id="school_name_display">{{headerData.schoolName}}</p>
        <p style="margin: 5px 0;">Drena : {{headerData.region}}</p>
        <p style="margin: 5px 0;">Classe : {{headerData.class}}</p>
      </div>
      <p>Professeur : <span id="teacher_name_display">{{headerData.professor}}</span></p>
    </div>

    <h3 class="tc">{{headerData.title}}</h3>

    <div>
      <!-- <table border="1"> -->
      <table>
        <thead>
          <tr [ngStyle]="{'background-color': selectedHeaderColor}" style="color: white;">
            <!-- <tr style="background-color: rgb(80, 80, 245); color: white;"> -->
            <th>N°</th>
            <th>PERIODES</th>
            <th>SEANCES</th>
            <th>NOMBRE D'HEURES</th>
            <th>COMPETENCES</th>
            <th>LEÇON</th>
            <th>ACTIVITÉS</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of tableData; let i = index" [style.background-color]="colors[i % colors.length]">
            <td [ngStyle]="{'background-color': selectedHeaderColor}" style="color: white;">{{ i + 1 }}</td>
            <td class="tal">{{ row.period }}</td>
            <td>{{ row.sessions }}</td>
            <td>{{ row.hours }}</td>
            <td class="tal"> {{row.competence}} </td>
            <td class="tal"> {{row.lesson}} </td>
            <td> {{row.activity}} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="color-picker">

    <div class="mb-5">
      <label class="inline" for="colorPicker">Choisissez la couleur du titre: </label>
      <input type="color" id="colorPicker" [(ngModel)]="selectedHeaderColor" (change)="onColorChange($event, -1)">
    </div>

    <div class="mb-5">
      <label class="inline" for="colorPicker1">Choisissez la premiere couleur: </label>
      <input type="color" id="colorPicker1" [(ngModel)]="colors[0]" (change)="onColorChange($event, 0)">
    </div>
    <div class="mb-5">
      <label class="inline" for="colorPicker2">Choisissez la deuxieme couleur: </label>
      <input type="color" id="colorPicker2" [(ngModel)]="colors[1]" (change)="onColorChange($event, 1)">
    </div>

    <!-- <div *ngFor="let color of colors; let i = index">
      <label class="inline" [for]="'colorPicker' + i">Choisissez la couleur {{ i + 1 }} :</label>
      <input 
        type="color" 
        [id]="'colorPicker' + i" 
        [(ngModel)]="colors[i]" 
        (change)="onColorChange($event, i)" />
    </div> -->

  </div>

  <p>
    <button class="btn" (click)="generatePdf()">Générer PDF</button>
  </p>
</div>

<app-modal *ngIf="displayModal" [title]="'Formulaire d\'Information de l\'Ecole'" [size]="'lg'" [template]="modal"
  [displaySaveBtn]="true" (saveData)="saveEpsProgressionData()" (closeModal)="displayModal = false"></app-modal>
<ng-template #modal>
  <!-- <form (ngSubmit)="saveCoverPageData()"> -->
  <form>
    <label for="school_name">Ecole:</label><br>
    <input type="text" id="school_name" [(ngModel)]="headerData.schoolName" name="schoolName"><br><br>

    <label for="teacher_name">Professeur:</label><br>
    <input type="text" id="teacher_name" [(ngModel)]="headerData.professor" name="professor"><br><br>

    <label for="class">Classe:</label><br>
    <input type="text" id="class" [(ngModel)]="headerData.class" name="class"><br><br>

    <label for="title">Titre:</label><br>
    <input type="text" id="title" [(ngModel)]="headerData.title" name="title"><br><br>

    <label for="region">Region:</label><br>
    <input type="text" id="region" [(ngModel)]="headerData.region" name="region"><br><br>

    <label for="year_year">Annéé scolaire:</label><br>
    <input type="text" id="year_year" [(ngModel)]="headerData.year_year" name="year_year"><br><br>

    <!-- <button type="submit">Enregistrer</button> -->
  </form>
</ng-template>

<app-modal *ngIf="displayTableContentModal" [title]="'Formulaire du contenu du tableau'" [size]="'lg'" [template]="tableModal"
  [displaySaveBtn]="true" (saveData)="saveEpsProgressionData()" (closeModal)="displayTableContentModal = false"></app-modal>
<ng-template #tableModal>
  <!-- <form (ngSubmit)="saveCoverPageData()"> -->
  <form>
    <label for="class">Classe:</label><br>
    <input type="text" id="class" [(ngModel)]="headerData.class" name="class"><br><br>

    <div class="radio-option">
      <input type="radio" id="choice1" name="skillLessonToDisplay" value="1" [(ngModel)]="selectedSkillLesson" (change)="switchList()"/>
      <label for="choice1" class="inline">Compétences/leçons 6ème-5ème</label>
    </div>
  
    <div class="radio-option mb-10">
      <input type="radio" id="choice2" name="skillLessonToDisplay" value="2"[(ngModel)]="selectedSkillLesson" (change)="switchList()"/>
      <label for="choice2" class="inline">Compétences/leçons 4ème-3ème</label>
    </div>

    <div *ngFor="let row of tableData; let i = index" class="mb-10">
      <fieldset>
        <legend>Période {{ i + 1 }}</legend>
  
        <label for="period-{{ i }}">Période :</label>
        <input 
          type="text" 
          id="period-{{ i }}" 
          [(ngModel)]="row.period" 
          name="period-{{ i }}" required 
        /><br /><br />
  
        <label for="sessions-{{ i }}">Séances :</label>
        <input 
          type="number" 
          id="sessions-{{ i }}" 
          [(ngModel)]="row.sessions" 
          name="sessions-{{ i }}" required
        /><br /><br />
  
        <label for="hours-{{ i }}">Heures :</label>
        <input 
          type="number" 
          id="hours-{{ i }}" 
          [(ngModel)]="row.hours" 
          name="hours-{{ i }}" required
        /><br /><br />
  
        <label for="class">Choisir une compétence:</label>
        <select (change)="selectChange($event, i, 'skill')">
          <option value="">Selectionner une compétence</option>
          <option *ngFor="let competence of competences" [value]="competence">{{ competence }}</option>
        </select>

        <label for="competence-{{ i }}">Compétence :</label>
        <textarea 
          id="competence-{{ i }}" 
          [(ngModel)]="row.competence" 
          name="competence-{{ i }}" 
        ></textarea><br /><br />
  
        <label for="class">Choisir une leçon:</label>
        <select (change)="selectChange($event, i, 'lesson')">
          <option value="">Selectionner une leçon</option>
          <option *ngFor="let lesson of lessons" [value]="lesson">{{ lesson }}</option>
        </select>
        <label for="lesson-{{ i }}">Leçon :</label>
        <textarea 
          id="lesson-{{ i }}" 
          [(ngModel)]="row.lesson" 
          name="lesson-{{ i }}" 
        ></textarea><br /><br />
  
        <label for="class">Choisir une activité:</label>
        <select (change)="selectChange($event, i, 'activity')">
          <option value="">Selectionner une activité</option>
          <option *ngFor="let activity of activities" [value]="activity">{{ activity }}</option>
        </select>

        <label for="activity-{{ i }}">Activité :</label>
        <input 
          type="text" 
          id="activity-{{ i }}" 
          [(ngModel)]="row.activity" 
          name="activity-{{ i }}" 
        /><br /><br />
  
        <!-- Bouton pour supprimer une période -->
        <button type="button" (click)="removeRow(i)" style="background-color: red;">Supprimer cette période</button>
      </fieldset>
    </div>
  
    <!-- Bouton pour ajouter une nouvelle période -->
    <button type="button" (click)="addRow()">Ajouter une nouvelle période</button>

    <!-- <button type="submit">Enregistrer</button> -->
  </form>
</ng-template>

<router-outlet />